<div class="theme-layout" id="scrollup">

  <section>
    <div class="block no-padding  gray">
      <button (click)="goHome();">Go Back</button>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="inner2">
              <div class="inner-title2">
                <h3>Contact</h3>
                <span>Keep up to date with us!</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="block">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 column">
            <div class="contact-form">
              <h3>Keep In Touch</h3>
              <form>
                <div class="row">
                  <div class="col-lg-12">
                    <span class="pf-title">Full Name</span>
                    <div class="pf-field">
                      <input type="text" placeholder="Salman Ali" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <span class="pf-title">Email</span>
                    <div class="pf-field">
                      <input type="text" placeholder="Salman Ali" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <span class="pf-title">Subject</span>
                    <div class="pf-field">
                      <input type="text" placeholder="Salman Ali" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <span class="pf-title">Message</span>
                    <div class="pf-field">
                      <textarea></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <button type="submit">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-6 column">
            <div class="contact-textinfo">
              <h3>E-empregos Office</h3>
              <ul>
                <li><i class="la la-map-marker"></i><span>Khan Street. Park Road, Islamabad </span>
                </li>
                <li><i class="la la-phone"></i><span>Call Us : +1 234-345-567</span></li>
                <li><i class="la la-fax"></i><span>Fax : +1 234-345-567</span></li>
                <li><i class="la la-envelope-o"></i><span>Email : info@E-empregos.com</span></li>
              </ul>
              <a class="fill" href="#" title="">See on Map</a><a href="#" title="">Directions</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
<footer>
  <div class="bottom-line">
    <span>© 2019 <b>E-empregos. </b> All rights reserved.</span>
  </div>
</footer>