<section class="overlape">
    <div class="block no-padding">
      <div data-velocity="-.1"
        style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;"
        class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
      <div class="container fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="inner-header">
              <h3>Welcome {{username}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="block no-padding">
      <div class="container">
        <div class="row no-gape">
          <aside class="col-lg-3 column border-right">
              <app-can-dash-sidebar></app-can-dash-sidebar>
          </aside>
          <div class="col-lg-9 column">
            <div class="padding-left">
              <div class="manage-jobs-sec">
                <h3>Manage Jobs</h3>
                <table>
                  <thead>
                    <tr>
                      <td>Applied Job</td>
                      <td>Position</td>
                      <td>Date</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let job of appliedJobs; let i = index;">
                      <td>
                        <div class="table-list-title">
                          <a (click)="canJobSingle(i);"><i>{{job.job_title}}</i></a><br />
                          <span><i class="la la-map-marker"></i>{{job.address}}</span>
                        </div>
                      </td>
                      <td>
                        <div class="table-list-title">
                          <h3><a (click)="canJobSingle(i);" title="">{{job.job_title}}</a></h3>
                        </div>
                      </td>
                      <td>
                        <span>{{job.applied_date}}</span><br />
                      </td>
                      <td>
                        <ul class="action_job">
                          <li><span>Delete</span><a (click)="deleteJob(i);"title=""><i
                                class="la la-trash-o"></i></a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
