<div class="theme-layout" id="scrollup">

		<div class="responsive-header">
			<div class="responsive-menubar">
				<div class="res-logo"><a href="" title=""><img src="../../../assets/images/logo.jpg" width="178px" height="50px" alt="" /></a>
				</div>
				<div class="menu-resaction">
					<div class="res-openmenu">
						<img src="../../../assets/images/icon.png" alt="" /> Menu
					</div>
					<div class="res-closemenu">
						<img src="../../../assets/images/icon2.png" alt="" /> Close
					</div>
				</div>
			</div>
			<div class="responsive-opensec">
				<div class="btn-extars">
					<ul class="account-btns">
						<li class="register-popup"><a routerLink="/register" title=""><i class="la la-key"></i> Register</a></li>
					</ul>
				</div><!-- Btn Extras -->

				<div class="responsivemenu">
					<ul>
						<li class=""><a routerLink="/" routerLinkActive="true" title="">Home</a></li>
						<li><a routerLink="/aboutus" title="">About Us</a></li>
						<li><a routerLink="/termsconditions" title="">Terms & Condition</a></li>
						<li class="menu-item-has-children">
							<a href="#" title="">Help</a>
							<ul>
								<li><a routerLink="/faq" title="">FAQ's</a></li>
								<li><a routerLink="/how_it_works" title="">How it works</a></li>
								<li><a routerLink="/contact" title="">Contact Us</a></li>
							</ul>
						</li>

					</ul>
				</div>
			</div>
		</div>

		<header class="gradient">
			<div class="menu-sec">
				<div class="container">
					<div class="logo">
						<a href="" title=""><img src="../../../assets/images/logo.jpg" width="178px" height="50px" alt="" /></a>
					</div><!-- Logo -->
					<div class="btn-extars">
						 <ul class="account-btns">
							<li><a routerLink="/register" ><i class="la la-key" ></i> Register</a>
							</li>
						</ul>
					</div><!-- Btn Extras -->
					<nav>
							<ul>
									<li class=""><a href="" title="">Home</a></li>
									<li><a routerLink="/aboutus" title="">About Us</a></li>
									<li><a routerLink="/termsconditions" title="">Terms & Condition</a></li>
									<li class="menu-item-has-children">
										<a href="#" title="">Help</a>
										<ul>
											<li><a routerLink="/faq" title="">FAQ's</a></li>
											<li><a routerLink="/how_it_works" title="">How it works</a></li>
											<li><a routerLink="/contact" title="">Contact Us</a></li>
										</ul>
									</li>

								</ul>
					</nav><!-- Menus -->
				</div>
			</div>
    </header>
    <section>
        <div class="block no-padding  gray">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="inner2">
                  <div class="inner-title2">
                    <h3>E-empregos</h3>
                    <span>Welcome</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section>
        <div class="block remove-bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="account-popup-area signup-popup-box static">
                  <div class="account-popup">
                    <h3>Click here to</h3>
                    <div class="select-user">
						<span routerLink="/login" >Login</span>
						<span routerLink="/register" >Register</span>
                      	<!-- <span (click)="checkClick('2');">Register</span>
                      	<span (click)="checkClick('1');">Login</span> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <footer>
      <div class="bottom-line">
        <span>© 2019 <b>E-empregos</b> All rights reserved.</span>
      </div>
    </footer>
</div>
