<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1"
            style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;"
            class="parallax scrolly-invisible no-parallax"></div>
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Welcome {{username}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <ngx-spinner></ngx-spinner>
    <div class="block no-padding">
        <div class="container">
            <div class="row no-gape">
                <aside class="col-lg-3 column border-right">
                        <app-can-dash-sidebar></app-can-dash-sidebar>
                </aside>
                <div class="col-lg-9 column">
                    <div class="padding-left">
                        <div class="manage-jobs-sec">
                            <h3>Change Password</h3>
                            <div class="change-password">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class="pf-title">Old Password</span>
                                            <div class="pf-field">
                                                <input type="password" name="oldPassword" [(ngModel)]="changePassword.oldPassword" />
                                            </div>
                                            <span class="pf-title">New Password</span>
                                            <div class="pf-field">
                                                <input type="password" name="newPassword" [(ngModel)]="changePassword.newPassword" />
                                            </div>
                                            <span class="pf-title">Confirm Password</span>
                                            <div class="pf-field">
                                                <input type="password" name="confirmNewPassword" [(ngModel)]="changePassword.confirmNewPassword"/>
                                            </div>
                                            <div class="pf-field" style="margin-top:30px;">
                                                <span class="text-danger" *ngIf="errorStatus" style="font-size: 12px;">**{{errorMessage}}</span>
                                            </div>
                                            <button (click)="submitForm();">Update</button>
                                        </div>
                                        <div class="col-lg-6">
                                            <i class="la la-key big-icon"></i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
